<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Add Student</title>
</head>
<body>
    <h1>Add Student</h1>
    <p>your add student name = {{s_name}}</p>
</body>
</html>