<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Qequest META</title>
</head>
<body>
    <h1>Request META List</h1>
    <ul>
        {% for key, value in requests.items %}
            <li>{{key}} = {{value}}</li>
        {% endfor %}

    </ul>
</body>
</html>